.main{
    margin: 0 auto;
    width:1200px;
}

/*** header ***/
.header {
    height:100px;
    border-bottom: 1px solid black;
}

.header .title {
    float: left;
    padding:0px 0px 0px 30px;
}

.header .title h1{
    font-size: 50px;   
    font-family: fantasy;
    float: left;
    padding:0px 0px 0px 50px;
}

.header .menu {
    float: right;
}

.header li {
    float: left;
    padding-right: 20px;
    list-style: none;
}

.header .menu a, a:hover, a:visited, a:link, a:active {
    color: black;
    text-decoration: none;
}

/*** -------- ***/
/*** contents ***/
/*** -------- ***/

.contents {
    clear:both;
}

/*** side-bar ***/
.contents .contents-sidebar {
    height:400px;
    width:300px;
    float: left;
}

.contents .contents-sidebar li{
    list-style: none;
    font-size: 20px;
    border:1px solid #123456;
    padding:10px 10px;
    margin-top:5px;
}

.contents .contents-sidebar a{
    color:darkorange;
}

.contents .contents-main {
    height:400px;
    width:900px;
    float: right;
}

/*** contents-main ***/
.contents .contents-main .product{
    float:left;
    padding-top:20px;
    padding-left:30px;
}

.contents .contents-main .product img{
    width:180px;
    height:180px;
}

.contents .contents-main .product p{    
    width:150px;
    height:150px;
    word-break: break-all;
}


/*** footer ***/
.footer {
    border-top: 1px solid #123456;
    padding-top:10px;
    padding-bottom:10px;
    clear: both;
}

.footer ul {
    text-align: center;
}

.footer li {
    /*float:left;*/
    display: inline-block;
    margin-right: 10px;
    list-style: none;
    border: 1px solid #123456;
    padding:10px 20px;
}

.footer li a{
}
